*{
    font-family: 'Poopins',sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(pexels-pixabay-62623.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}
::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}
.submit{
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(50, 50, 197);
    cursor: pointer;
    transition: .4s;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
}
.left{
    display: flex;
}
label a{
    color: #fff;
    text-decoration: none;
}
